/* 1. 형제 요소들의 `margin-top`과 `margin-bottom`이 만났을 때 */

/* .parent {
} 

.child {
  width: 100px;
  height: 100px;
  background: tomato;
  float: left;
  margin: 20px;
} */

/* 2. 부모 요소의 `margin-top`과 자식 요소의 `margin-top`이 만났을 때 */
.parent {
  width: 300px;
  height: 200px;
  background: cyan;
}

.child {
  width: 100px;
  height: 100px;
  background: tomato;
  margin-top: 50px;
}

/* 3. 부모 요소의 `margin-bottom`과 자식 요소의 `margin-bottom`이 만났을 때 */

/* .parent {

}

.child {
  
} */
