.box {
  width: 400px;
  height: 500px;
  border: 2px solid red;
  margin: 50px;
  background-image: url("../../../images/heropy_medium.png"); /* 700 x 700 */
  background-repeat: no-repeat;
  background-size: contain;
}
