.container {
  border: 4px solid;
  display: flex;
}

.container .item {
  height: 100px;
  background: tomato;
  border: 4px dashed red;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  flex-basis: 400px;
  flex-shrink: 1;
}

.item2 {
  flex-basis: 400px;
  flex-shrink: 2;
}
